@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.home,
.products,
.team,
.tutorialsStyle {
  font-family: 'Lato', sans-serif;
  background: rgb(238, 236, 236);
  border-radius: 5px;
  padding: 1em;
  display: block;
  width: 70vw;
  margin-left: 20%;
  margin-top: 2%;

}

.titleStyle {
  font-size: 2em;
  text-align: center;
  padding-bottom: 3em;  
}

.playerStyle {
  display: block;
  padding-bottom: 3em;
}

.textStyle {
  font-family: 'Lato', sans-serif;
  font-size: 18px;  
  text-align: left;
  padding-bottom: 2em;
}

.textStyleHeader {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 30px;  
  text-align: center;
  padding-bottom: 2em;
}

.textStyleHeader2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;  
  text-align: left;
  padding-bottom: 2em;
}

.textStyleHeader3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 18px;  
  text-align: left;
  padding-bottom: 2em;
}

.textStyleCode {
  font-family: monospace;
  font-weight: normal;
  font-size: 18px;  
  text-align: left;
  padding-left: 2em;
  background: rgb(224, 222, 222);
}

.terminalHeader {
  height: 2em;
  color: rgb(0, 0, 0);
  background: rgb(125, 148, 250);
  border-radius: 2px;
  font-size: 14px;
  text-indent: 1em;
  text-align: left;
  display: block;
}

.terminal {
  font-family: monospace;
  font-size: 18px;
  overflow: hidden;
  background: rgb(195, 195, 195);
  text-indent: 4px;
  text-align: left;
  white-space: pre;
}

.terminal-odd {
  font-family: monospace;
  font-size: 18px;
  overflow: hidden;
  background: rgb(180, 180, 180);
  text-indent: 4px;
  text-align: left;
  white-space: pre;
}

.g {
  width: 30px;
  font-family: monospace;
  font-size: 18px;
  overflow: hidden;
  background: rgb(114, 114, 114);
  text-indent: 4px;
  text-align: left;
  white-space: pre;
}

.g-odd {
  width: 30px;
  font-family: monospace;
  font-size: 18px;
  overflow: hidden;
  background: rgb(114, 114, 114);
  text-indent: 4px;
  text-align: left;
  white-space: pre;
}

.button {
  margin-right: 2%;
  display: inline-block;
  padding: 5px 12px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  background:rgb(51, 51, 51);  
  color: #fff;
  float: right;
}

.codeContainer {
  display: -webkit-flex;
}

button:hover {
  background: #148f6a;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
;

